# Created by https://www.toptal.com/developers/gitignore/api/dotenv,virtualenv,venv
# Edit at https://www.toptal.com/developers/gitignore?templates=dotenv,virtualenv,venv

### dotenv ###
.env
**/.env

### venv ###
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json

### VirtualEnv ###
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/


.DS_Store